/* this css has been mostly vibe coded XDD */

.input-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field > div {
    position: relative;
    width: 350px;
}

.input-field img {
    width: 100%;
    height: auto;
    display: block;
}

.input-field input {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);

    width: 65%;
    height: 0.7%;
    padding: 8px 12px;
    
    /* border: none;
    outline: none;
    background: transparent; */
    background-color: transparent;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color:antiquewhite;
    color:aliceblue;
    font-family: 'Beleren Bold', serif;
}
.input-field:active {
    box-shadow: 0 0 10px whitesmoke;
     border-radius: 3.5%;
}

.input-field input::placeholder {
    color: black;
}